* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    background: #161616;
}
#app {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% auto 20%;
    grid-template-rows: 100%;
}

#tracer-area {
    width: 55%;
    height: auto;
    margin: 15px;
    margin-left: 0;
}
#button-row {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.tracing {
    background: #133063;
    color: #FFFFFF;
    width: 150px;
    height: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.tracing.active {
    background: #224D9C;
}
.action-pane {
    background: #224D9C;
    width: 100%;
    height: calc(100% - 40px);
    display: none;
}
.action-pane.show {
    display: block;
}

#prereq-action-pane.show {
    display: flex;
    padding: 10px;
}

#prereq-action-space {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #133063;
    padding: 10px;
    overflow: auto;
}
.column-insert {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}
.item-insert {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 6px;
    font-size: 13px;

    margin: 10px;
    background: #224D9C;
    color: #FFFFFF;
    width: 84px;
    height: 28px;
    min-height: 28px;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.item-insert:hover {
    background: #2d61c2;
}

#filter-action-pane.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter-action-space {
    background: red;
    width: 87.5%;
    height: 75%;
    display: grid;
    grid-template-columns: 45% auto;
}

.completed {
    background: green;
    height: auto;
    display: grid;
    grid-template-rows: 23% auto;
}
.completed div:first-of-type {
    background: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtered {
    background: orange;
    height: auto;
    display: grid;
    grid-template-rows: 23% auto;
}
.filtered div:first-of-type {
    background: rgb(119, 60, 179);
    display: flex;
    align-items: center;
    justify-content: center;
}

#course-area {
    width: 40%;
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid #133063;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#course-area div:first-of-type {
    background: #133063;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#course-name {
    color: #FFFFFF;
    height: 55px;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#credit-hours {
    color: #FFFFFF;
    height: 35px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
#credit-hours span:first-child {
    font-size: 11px;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#credit-hours span:nth-child(2) {
    height: auto;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#credit-hours #bubble {
    background: #C44545;
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
}
#offering {
    font-size: 12px;
    color: #FFFFFF;
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#description {
    color: #92afe4;
    height: 50%;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
}

#popup {
    width: 100%;
    height: 300px; /* 300px */
    max-height: 300px;
    min-height: 300px;
    background: #081733;

    position: relative;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); */

    border-radius: 0; /* 6px */
    display: none;
}

#close-button {
    width: 24px;
    height: 24px;
    background: #C44545;
    color: #FFFFFF;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); */

    position: absolute;
    top: 12px;
    right: 14px;


    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    z-index: 99;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#close-button:hover {
    background: #4851d8;
}

.selection-box {
    border-radius: 5px;
    border: 1px solid #5191E8;
    background: rgba(81, 144, 232, 0.295);
}
#trash {
    background: red;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 30px;
    cursor: pointer;
    display: none;
}
.selected {
    border: 2px solid #5191E8 !important;
}
.group {
    background: red;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 80px;
}

#control {
    height: 100%;
    background: #0A1733;
}
.control-option {
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.col-text {
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
    white-space: pre-wrap;

    padding-right: 20px;
    line-height: 45px;
    height: 45px;
    width: calc(100% - 45px);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.col-checkbox {
    height: inherit;
    width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.col-checkbox input {
    display: none;
}
.col-checkbox .checkmark {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: #51AFF1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-checkbox:hover input ~ .checkmark {
    background-color: #CCCCCC;
}
.col-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}
.col-checkbox .checkmark:after {
    content: "";
    display: none;
}
.col-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.col-checkbox .checkmark:after {
    width: 3px;
    height: 8px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#database {
    background: black;
    width: 100%;
    height: 50%;
    overflow-y: auto;
    display: grid;

    padding: 10px;
    row-gap: 10px;
}
#database > *:last-child {
     margin-bottom: 10px;
}

.database-entry {
    cursor: move;

    background: royalblue;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.entry-labels {
    height: 100%;
    width: 10px;
    background: #C44545;
}
.entry-course-ids {
    height: 100%;
    width: 80px;
    /* background: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.entry-course-names {
    height: 100%;
    width: calc(100% - 90px);
    overflow: hidden;
    /* background: maroon; */

}
.f .entry-labels {
    background: #7f7fe4;
}
.ef .entry-labels {
    background: #FFCC58;
}
.ge .entry-labels {
    background: #F37C2B;
}
.se .entry-labels {
    background: #90C745;
}
.aside .entry-labels {
    background: #90C745;
}
.ent .entry-labels {
    background: #C44545;
}

.sections {
    height: 100%;
    grid-auto-rows: 80px;
}
#fundamentals {
    width: calc(100% * (2 / 5));
    display: grid;
    grid-template-columns: 50% 50%;
}
#engineering-fundamentals {
    width: calc(100% * (1 / 5));
    display: grid;
}
#third {
    width: calc(100% * (2 / 5));
    display: flex;
    flex-direction: column;
}
#third section {
    width: 100%;
    display: grid;
    grid-auto-rows: 80px;
    grid-template-columns: 50% 50%;
}

#middle {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#interaction-area {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    overflow-y: auto;
    border: 4px solid transparent;
}

#aside {
    height: 100%;
    background: #0A1733;
}

#spec-panel {
    /* min-width: 440px; */
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.specs {
    background: inherit;
    color: #FFFFFF;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); */
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.specs:hover {
    background: #BADF87;
    color: white;
}
.svg-icon {
    height: inherit;
    width: 60px;
    font-size: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-text {
    font-size: 16px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: left;

    height: inherit;
    width: calc(100% - 60px);
}
.specs.active {
    /* border-radius: 6px 6px 0 0; */
    background: rgb(82, 128, 228);
    color: white;
}

.pane {
    background: #222222; /* #494949 */
    height: auto;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    /* padding: 10px 10px 0 10px; */
    /* border-radius: 0 0 6px 6px; */

    grid-gap: 10px;
    padding: 10px;

    display: none;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    /*
    row-gap: 10px;
    column-gap: 10px;
    */
}

.pane > *:last-child {
     margin-bottom: 10px;
}


.pane.show {
    display: grid !important;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.pane .item {
    background: #3b3b3b;
    height: 100px;
    cursor: pointer;
}
.pane .course {
    width: 160px; /*160px*/
    background: inherit;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: inherit;
    background: rgb(162, 162, 197);
}
.pane .aside .course:hover {
    border: none;
}
.pane .pane-looking {
    background: rgb(235, 138, 141);
}
.pane .item:hover {
    background: rgb(236, 205, 133);
}

.course {
    background: #353535;
    width: 200px;
    height: 60px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;

    border: 2px solid #3b3b3b;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); */
    /* box-shadow: 0 0 16px 1px rgba(0,0,0,0.44); */

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.course.hovered {
    background: red;
}

.highlight {
    background: #535353;
}
.highlight .course-names {
    color: #51AFF1;
}
.looking {
    border-color: #FC7165;
}
.looking-prereq {
    border-color: #fc65b8;
}

.f .course:hover {
    border: 2px solid #a6a6df;
}
.ef .course:hover {
    border: 2px solid #FFE3A4;
}
.ge .course:hover {
    border: 2px solid #E79055;
}
.se .course:hover {
    border: 2px solid #BADF87;
}
.ent .course:hover {
    border: 2px solid rgb(196, 93, 93);
}

.course.is-dragging {
    cursor: move;
}

.labels {
    height: 44px;
    width: 4px;
    border-radius: 10px;
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.f .labels {
    background: #7f7fe4;
}
.ef .labels {
    background: #FFCC58;
}
.ge .labels {
    background: #F37C2B;
}
.se .labels {
    background: #90C745;
}
.aside .labels {
    background: #90C745;
}
.ent .labels {
    background: #C44545;
}

.indicators {
    height: 36px;
    width: 12px;

    position: absolute;
    right: 4px;
    top: 4px;
    display: grid;
}
.rect {
    height: 12px;
    width: 12px;
    border-radius: 2px;
}
.red {
    background: #B83232;
}
.blue {
    background: #5191E8;
}
.course-ids {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;

    width: 85px;
    height: 24px;

    position: absolute;
    top: 6px;
    left: 22px;
}
.course-names {
    color: #707070;
    font-size: 12px;

    width: 140px;
    height: 30px;
    line-height: 15px;

    position: absolute;
    bottom: 3px;
    left: 22px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.f .course-ids {
    color: #a6a6df;
}
.ef .course-ids {
    color: #FFE3A4;
}
.ge .course-ids {
    color: #E79055;
}
.se .course-ids {
    color: #BADF87;
}
.aside .course-ids {
    color: #BADF87;
}
.ent .course-ids {
    color: #C44545;
}


/* The mode switcher */
.switch input {
    display: none;
}
.switch {
    z-index: 999;
    position: relative;
    margin: auto;
    width: 40px;
    height: 15px;
    border-radius: 40px;
}
.slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #243448;
    border-radius: 40px;
    transition: .3s;
    -webkit-transition: .3s;
}
.slider:before {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    background: #17315B;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.switch input:checked+.slider {
    background: #90F492;
}
.switch input:checked+.slider:before {
    content: "";
    transform: translateX(21px);
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
}


/* iPhone X/XS */
@media screen and (max-width: 1024px) {
 /*   #app {
        flex-direction: column;
    }

    #fundamentals {
        height: 25%;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
    }
    #engineering-fundamentals {
        height: 15%;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
    }
    #gateway-electives {
        height: 30%;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
    }
    #specialization-electives {
        height: 30%;
        width: 100%;
        grid-template-rows: 40% auto;
    } */
}