/* Document settings */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 90%;
    text-decoration: none;
    font-weight: 100;
    list-style: none;
    font-family: 'Varela Round', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background: #424242;
}

body {
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #FFFFFF;
    background-color: #7E7FD6;
}

::-moz-selection {
    color: #FFFFFF;
    background-color: #7E7FD6;
}

#middle {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#title {
    font-size: 100px;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#sub-title {
    font-size: 30px;
    color: #F199C5;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.button {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99EFCF;
}

.button:hover {
    color: #F199C5;
}

#copyright {
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity: 0.2;
    color: #F0DF97;
}

/*
iPhone X and Samsung Devices
@media(hover: hover) and (pointer: fine) {
    #buttons .button:hover {
        background: #9394CC;
        color: #FFFFFF;
    }
}
*/

@media screen and (max-width: 780px) {
    #title {
        font-size: 70px;
    }
    #sub-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    #middle {
        width: 50%;
        gap: 20px;
    }
    #title {
        font-size: 40px;
    }
    #sub-title {
        font-size: 16px;
    }
    #buttons {
        gap: 35px;
    }
    .button {
        font-size: 22px;
    }
    #copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 370px) {
    #middle {
        width: 50%;
        gap: 20px;
    }
    #title {
        font-size: 30px;
    }
    #sub-title {
        font-size: 12px;
    }
    #buttons {
        gap: 25px;
    }
    .button {
        font-size: 18px;
    }
    #copyright {
        font-size: 10px;
    }
}