/* Document settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 100%;
    text-decoration: none;
    font-weight: 100;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background: #424242;
}

body {
    background: #EFF2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #FFFFFF;
    background-color: #7E7FD6;
}

::-moz-selection {
    color: #FFFFFF;
    background-color: #7E7FD6;
}

#middle {
    width: 58%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title-space {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -105px;
}

#icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#icon img {
    width: 65%;
    height: 65%;
}

#title {
    font-size: 100px;
    text-transform: uppercase;
    color: #FC7165;
}

#sub-title {
    font-size: 30px;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.button {
    width: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.button:hover {
    color: #FC7165;
}

#copyright {
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity: 0.2;
}

/*
iPhone X and Samsung Devices
@media(hover: hover) and (pointer: fine) {
    #buttons .button:hover {
        background: #9394CC;
        color: #FFFFFF;
    }
}
*/

@media screen and (max-width: 450px) {
    #title {
        font-size: 50px;
    }
    #sub-title {
        font-size: 25px;
    }
    #title-space {
        left: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}