@font-face {
    font-family: 'font icons';
    src: url('font-icons.eot');
    src: url('font-icons.eot?#iefix') format('embedded-opentype'),
         url('font-icons.woff') format('woff'),
         url('font-icons.ttf') format('truetype'),
         url('font-icons.svg#font-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'font icons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-twitter:before{content:'\0041';}
.icon-linkedin:before{content:'\0042';}
.icon-email:before{content:'\0043';}
.icon-bulb:before{content:'\0044';}
.icon-medium:before{content:'\0045';}
.icon-moon:before{content:'\0046';}